<!doctype html>
<html lang="en">

<head>
  <title>Websocket Client</title>
</head>

<body>
  <div>
    <pre>
      Online
    </pre>
  </div>
  <script>
    var exampleSocket = new WebSocket("ws://" + window.document.location.host);
    exampleSocket.onopen = function (event) {
      exampleSocket.send("Can you hear me?");
    };
    exampleSocket.onmessage = function (event) {
      console.log(event.data);
    }
  </script>
</body>

</html>